<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>F A I L U R E</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<!-- <style>
  .card{
    text-align: center;
    max-width: 30rem;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
    background: rgb(245,225,225);
    background: linear-gradient(135deg, rgba(245,225,225,1) 0%, rgba(253,45,46,1) 100%);
  }
  .btn-danger{
    border-radius: 10px;
    width: 50%;
    height: 40px;
  }

</style> -->

<body>
  <div class="card" id="card-fail">
    <div class="card-header">
      <h3>THÔNG BÁO</h3>
    </div>
    <div class="card-body">
      <p class="card-text">!!!LỖI EMAIL!!! <br> VUI LÒNG ĐĂNG NHẬP MAIL DẠNG @student.tdtu.edu.vn</p>
    </div>
    <div class="card-footer">
      <form action="/account/auth/google">
        <button class="btn-danger" id="btn-quaylai">
          QUAY LẠI
        </button>
      </form>
    </div>
  </div>
</body>
</html>